<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FootballUI.Application" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FootballUI.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FootballUI.Application>
            <setting name="FadeInFames" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThreadSleep" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxPlayerBallDistance" serializeAs="String">
                <value>0</value>
            </setting>
        </FootballUI.Application>
    </applicationSettings>
    <userSettings>
        <FootballUI.AppSettings>
            <setting name="FadeInFames" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ThreadSleep" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MaxPlayerBallDistance" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="StationaryBallLimit" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MaxBallHeight" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="MaxAcceptedAngle" serializeAs="String">
                <value>5</value>
            </setting>
        </FootballUI.AppSettings>
    </userSettings>
</configuration>